<h3> Silahkan masukan bukti transfer yang valid ke dalam link dibawah ini. </h3>

<a href='http://localhost:3000/update-bukti-transaksi/<%= detailReservasi[0].id_pelanggan %>' target="_blank">FORM BUKTI TRANSFER</a>