<a class="navbar-brand" href="#">
    <img src="../images/moji-bg-red.png" width="100" height="100" alt="">
</a>

<ul class="nav justify-content-end">
    <li class="nav-item">
        <a class="btn btn-light nav-link active" href="/reservasi">RESERVASI</a>
    </li>
</ul>