<a class="header-logo" href="/admin"></a>

<div class="profil-box">
    <img class="icon-menu" src="../images/menu-mobile-btn.png" alt="menu-profile">

    <img class="icon-user" src="../images/user-circle.png" alt="person-image">

    <div class="profil-content">
        <a href="">Logout</a>
    </div>
</div>