<tr>
  <td class="id-column">
    <%= item.id_menu %>
  </td>
  <td class="name-column">
    <%= item.nama_menu %>
  </td>
  <td class="name-column">
    Rp.<%= item.harga %>
  </td>
  <td class="name-column">
    <%= item.jenis_menu %>
  </td>
  <td class="name-column">
    <button class="btn-modals" data-bs-toggle="modal" data-bs-target="#modal-update">EDIT</button>

    <button class="btn-modals" data-bs-toggle="modal" data-bs-target="#modal-delete">DELETE<buttona>
  </td>
</tr>