<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include("../partials/head.ejs"); %>
  </head>

  <body>

    <header>
      <%- include("../partials/header.ejs"); %>
    </header>

    <main class="container">

      <div class="top-detail">
        <h2 class="subtitle">Hai, selamat datang di halaman home</h2>
        <h1 class="title">DASHBOARD ADMIN</h1>
        <p class="description">
          LIST dapat membuat dan mengatur daftar pembelanjaan Anda dengan mudah.
          <br>
          Tambahkan barang yang Anda inginkan kapanpun, dimanapun.
        </p>
        <!-- Tambahkan attribute href -->
        <a class="index-button" href="/dashboard">DASHBOARD</a>
      </div>
      <div class="top-image">
        <img src="/images/top.jpeg">
      </div>

    </main>

  </body>

</html>