<tr>
  <td class="id-column">
    <%= item.id_meja %>
  </td>
  <td class="name-column">
    <%= item.max_orang %>
  </td>
  <td class="name-column">
    <%= item.status_reservasi %>
  </td>
  <td class="name-column">
    <button class="btn-modals" data-bs-toggle="modal" data-bs-target="#modal-update">EDIT</button>

    <button class="btn-modals" data-bs-toggle="modal" data-bs-target="#modal-delete">DELETE</button>
  </td>
</tr>